.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #323232;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  overflow: hidden;
}

.expense-item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.expense-item__description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
  margin: 1rem;
}

.expense-item h2 {
  color: #3a3a3a;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: right;
  flex: 1;
  color: currentColor;
}

.expense-item__price {
  min-width: 11rem;
  padding: 1.5rem 0;
  font-weight: 600;
  text-align: center;
  color: #fff;
  background-color: #22a2f2;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 580px) {
  .expense-item__description {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    gap: 1rem;
  }

  .expense-item h2 {
    font-size: 2rem;
    margin-left: 1.5rem;
    text-align: left;
  }

  .expense-item__price {
    margin-bottom: 0;
  }
}
