.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  margin: 1.1rem 0;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 11px;
  background-color: #323232;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  overflow: hidden;
}

.expense-item__description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
}

.expense-item h2 {
  color: #3a3a3a;
  font-size: 2rem;
  font-weight: 500;
  flex: 1;
  margin-left: 2.5rem;
  color: currentColor;
}

.expense-item__price {
  min-width: 11rem;
  padding: 1.5rem 0;
  text-align: center;
  color: #fff;
  background-color: #22a2f2;
  margin: 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 580px) {
  .expense-item__description {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }
}
