.new-expense {
  padding: 3rem 4rem;
  margin: 4rem auto;
  width: 45vw;
  text-align: center;
  position: relative;
}

.new-expense button {
  font: inherit;
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
  padding: 1.7rem 0;
  border: 2px solid #22a2f2;
  background-color: transparent;
  color: #22a2f2;
  border-radius: 11px;
  width: 28%;

  transition: all 0.2s;
}

.new-expense button:hover,
.new-expense button:active {
  background-color: #42aff4;
  border-color: #42aff4;
  color: #fff;
}

.new-expense button.alternative {
  color: #08668b;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #49c3f4;
}
